@font-face {
    font-family: haim;
    src: url(HAIRLRG_.TTF);
}

:root {
    --body-margin: 27vw;
}

.body {
    margin: 8rem var(--body-margin);
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.margin-remove {
    margin: 0 calc(-1 * var(--body-margin));
}

.clickable {
    user-select: none;
}

.clickable:hover {
    background-color: orange;
    cursor: pointer;
}

.hidden-content {
    display: none;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(6vh + 3rem);
    padding: 0 var(--body-margin);
    background-color: white;
}

.email-link {
    font-size: 20px;
}

.social-icon {
    height: 30px;
    width: 30px;
}

.buttom-border {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3vh;
    background-color: black;
}

.page-border {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3vh solid black;
    border-bottom: none;
    pointer-events: none;
}
